@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.movie-container {
  background-image: url('../AllMovies/purple-background.jpeg');
  background-size: cover;
  padding: 5% 0;
  overflow-y: auto;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

.movie-container > .movie-wrapper:nth-child(even) {
  background-color: v.$deepPurple;
  direction: rtl;
}

.movie-container > .movie-wrapper:nth-child(even) > .description-container {
  background-color: v.$darkPurple;
  direction: ltr;
}

.movie-container.blur {
 filter: blur(10px);
 pointer-events: none;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
