@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.movie-container {
  background-color: v.$darkBlue;
  padding: 10% 0;
  overflow-y: auto;
}

.movie-container > .movie-wrapper:nth-child(even) {
  background-color: v.$lightBrown;
  direction: rtl;
}

.movie-container > .movie-wrapper:nth-child(even) > .description-container {
  background-color: v.$lightBrown;
  direction: ltr;
}

.movie-container.blur {
 filter: blur(10px);

}

