@use './reset.scss';
@use './variables' as v;
@use './mixins' as m;

* {
  color: v.$offWhite;
  font-family: v.$bodyFont;
}

html {
  background-color: v.$darkBlue;
}

p {
  padding: 0.5em 0;
}

body.blur {
  overflow-y: hidden;
}

.error {
  text-align: center;
  padding: 10%;
}

.error-message {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus {text-decoration: none; }

::-webkit-scrollbar {background: transparent; width: 0};