@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.movie-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: v.$jeanBlue;
  margin: 0% 10%;
}

.thumbnail {
  width: 100%;
}

.description-container {
  background-color: v.$medBrown;
  padding: 5%;
}

.rating-container {
  display: flex;
  align-items: center;
}

.star-rating {
  margin: 0 1% 0 0;
}

h2 {
  color: v.$darkBlue;
  font-size: 2em;
  font-family: v.$titleFont;
}

h4 {
  font-size: 1.5em;
  font-family: v.$titleFont;
}

p {
  color: v.$darkBlue;
  font-size: 1em;
}