@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: v.$transparentBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 20%;
  border-radius: 0;
  max-width: 60.25rem;
  max-height: fit-content;
}

.close-button {
  background-color: #000;
}

.modal-wrapper {
  max-height: 80vh;
  overflow-y: auto;
}

.thumbnail {
  width: 100%;
}

.description-container {
  background-color: v.$medBrown;
  padding: 5%;
}

.banner {
  width: 100%;
}

h4 {
  color: v.$darkBlue;
  font-size: 1.5em;
}

p {
  color: v.$jeanBlue;
}