@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

header {
  background-color: v.$darkPurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 3;
}

h1 {
  font-size: 3em;
  font-family: v.$titleFont;
  padding: 2%;

  &:hover {
    cursor: pointer;
  }
}

//Tablet portrait view
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2em;
  }
}

//small mobile device view
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
}