@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

header {
  background-color: v.$jeanBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 3;
}

h1 {
  font-size: 3em;
  font-family: v.$titleFont;
  padding: 2%;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 3em;
  padding: 2%;
}

a {
  letter-spacing: 1px !important;
  font-size: 1.2em !important;
}

.active {
  border-bottom: 4px solid v.$lightBrown;
}
