@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

header {
  background-color: v.$jeanBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 3;
}

h1 {
  font-size: 3em;
  font-family: v.$titleFont;
  padding: 2%;

  &:hover {
    cursor: pointer;
  }
}
